@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

.text {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 4em;
  
  position: relative;
  margin-left: -10vw;
  height: 40px;
  
  /* margin-top: -20px; */
}
@media (max-width: 480px) {
  .text {
    margin-left: -37vw;
    font-size: 3em;

  }
}
.text p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.word {
  position: absolute;
  width: 370px;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  -webkit-transform: translateZ(25px);
  transform: translateZ(25px);
  -webkit-transform-origin: 50% 50% 25px;
  transform-origin: 50% 50% 25px;
}

.letter.out {
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transition: -webkit-transform 0.32s
    cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19),
    -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

.letter.in {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transition: -webkit-transform 0.38s
    cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #c94bff;
}

.belize {
  color: #4eb3d2;
}

.pomegranate {
  color: #01d452;
}

.green {
  color: #09e6b9;
}

.midnight {
  color: #FFEB3B;
}
