*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.fleximg {
  -webkit-filter: contrast(70%);
  filter: contrast(70%);
  transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91),
    -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}
.fleximg:hover {
  -webkit-filter: contrast(100%);
  filter: contrast(100%);
}
.fleximg .text {
  color: white;
  position: absolute;
  z-index: 20;
  margin: 0 auto;
  left: 0.6rem;
  right: 0.6rem;
  background: rgba(0, 0, 0, 0.5);
  top: 45%;
  font-family: cursive;
  font-size: 3.5vh;
}
.btn {
  background-color: #5724ce;
  border: 1px solid #cccccc;
  color: white;
  padding: 0.5rem;
  text-transform: lowercase;
  border-radius: 4px;
  padding: 0 16px;
  min-width: 64px;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  transition: box-shadow 0.2s;
}
.btn:hover {
}
.btn--block {
  display: block;
  width: 100%;
}
.cards {
  display: flex;
  /*flex-wrap: wrap;*/
  list-style: none;
  margin: 0;
  padding: 0;
  color: #999999;
}
@media (max-width: 40rem) {
  .hide_s {
    display: none;
  }
  .fleximg {
    -webkit-filter: contrast(100%);
    filter: contrast(100%);
  }
}
@media (max-width: 400px) {
  .cards {
    /*flex-wrap: wrap;*/
    max-height: 25vh;
  }

  .flexi {
    /*max-width: 80%;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.cards__item {
  display: flex;
  padding: 0.6rem;
  width: 100%;
}
@media (min-width: 40rem) {
  .cards__item {
    width: 40%;
  }
}
@media (min-width: 56rem) {
  .cards__item {
    width: 33.3333%;
  }
}
.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /*max-height: 300px;*/
  max-width: 300px;
}

.card:hover .card__image {
  -webkit-filter: contrast(100%);
  filter: contrast(100%);
}
.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 0.5rem;
}
.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  -webkit-filter: contrast(70%);
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91),
    -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}
.card__image::before {
  content: "";
  display: block;
  padding-top: 76.25%;
}

@media (min-width: 40rem) {
  .card__image::before {
    padding-top: 66.6%;
  }
  .hide_l {
    display: none;
  }
}
.card__image--flowers {
  background-image: url(img/books.jpg);
}
.card__image--river {
  background-image: url(img/courses.png);
}
.card__image--record {
  background-image: url(img/img3.JPG);
}
.card__image--fence {
  background-image: url(img/books.jpg);
}
.card__title {
  color: #696969;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}
.container {
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 0px;
  /* margin-top: 10px; */
}

.footer-distributed {
  background: #031c35;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding:15px 18px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 0px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #ececec;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}
.footer-distributed .footer-icons a:hover {
  background-color: yellowgreen;
}
.footer-distributed .footer-center i :hover {
  background-color: yellowgreen;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

.myItems {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  user-select: none;
  /*margin: 1% 2vw;*/
}

.myItem {
  position: relative;
  margin: 1% 1.5vw;
  padding-bottom: 3px;
  background: rgb(240, 240, 240);
  color: #3d3c3c;
  text-decoration: none;
  -moz-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  height: 63vh;
  width: 65vw; /* 2vw width for margin (see below) & 87 only available*/
}

.myItem span {
  display: block;
}
.myItem .myItem-summary {
  padding: 2% 5% 2% 5%;
}
.myItem .myItem-header {
  position: relative;
  height: 175px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.15);
  background-blend-mode: overlay;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
}
.myItem .myItem-header:hover,
.myItem .myItem-header:focus {
  background-color: rgba(255, 255, 255, 0);
}
.myItem .myItem-title {
  background: #000;

  padding: 3.5% 0 2.5% 0;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.myItem .myItem-title h3 {
  font-size: 1.25em;
  line-height: 1.2;
  padding: 0 3.5%;
  margin: 0;
}
.myItem .myItem-meta {
  max-height: 0;
  overflow: hidden;
  color: #666;
  font-size: 0.78em;
  text-transform: uppercase;
  position: absolute;
  bottom: 5%;
  padding: 0 5%;
  -moz-transition-property: max-height;
  -o-transition-property: max-height;
  -webkit-transition-property: max-height;
  transition-property: max-height;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.myItem:hover,
.myItem:focus {
  background: white;
  -moz-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
}
.myItem:hover .myItem-title,
.myItem:focus .myItem-title {
  background: rgba(0, 0, 0, 0.7);
}
.myItem:hover .myItem-meta,
.myItem:focus .myItem-meta {
  max-height: 1em;
}

* {
  -moz-transition-property: background-color, border-color, box-shadow, color,
    opacity, text-shadow, -moz-transform;
  -o-transition-property: background-color, border-color, box-shadow, color,
    opacity, text-shadow, -o-transform;
  -webkit-transition-property: background-color, border-color, box-shadow, color,
    opacity, text-shadow, -webkit-transform;
  transition-property: background-color, border-color, box-shadow, color,
    opacity, text-shadow, transform;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

.material-icons {
  display: inline-flex;
  vertical-align: top;
  text-shadow: 2px -2px 3px rgba(0, 0, 0, 0.2);
  font-size: 1.13em;
}

body {
  overflow-x: hidden;
}

#partners ul {
  list-style: none;
}
.logo-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.mt-6 {
  /* margin-top: 40px !important; */
}
@media (min-width: 768px) {
  .mt-md-6 {
    /* margin-top: 40px !important; */
  }
}

@media (min-width: 768px) {
  .pt-md-6 {
    /* padding-top: 40px !important; */
  }
}
.logo-list li {
  padding: 12px 8px;
  width: calc(100% / 3);
}

@media (min-width: 700px) {
  .logo-list li {
    padding: 14px 12px 24px;
    width: calc(100% / 3);
  }
}
.logo-list li img,
#partners img {
  max-width: 94%;
  max-height: 60px;
  margin: 0 auto;
}
@media (min-width: 800px) {
  .logo-list li img {
    max-width: 80%;
    max-height: 70px;
  }
}
#partners img {
  height: auto;
  max-width: 100%;
  display: block;
}
.page-section {
  position: relative;
  z-index: 1;
  /* padding: 80px 0; */
}
@media (max-width: 400px) {
  .page-section {
    padding: 0 0;
  }
  .mt-6 {
    margin-top: 0px;
  }
}
@media (min-height: 900px) {
  .page-section {
    min-height: inherit;
  }
}

.wrapper-wide {
  width: 92%;
  margin: 10vh auto;
  max-width: 1264px;
  transition: max-width 0.4s ease;
  max-width: 1280px;
}

.callout.callout--purple {
  background: #6f42c1;
}

.callout {
  font-size: 14px !important;
  font-weight: 500 !important;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  z-index: 1;
  display: inline-block;
  width: auto;
  min-width: 205px;
  background: #28a745;
  padding: 9px 16px;
  line-height: 1;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.py-4 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}
.scroll-img > li {
  display: inline-block;
  list-style-type: none;
}


@media (max-width: 600px) {
  .max-img {
    padding-top: 0px;
  }
}

.content-title-sp {
  font-size: 4.5em;
  color: black;
  line-height: 1.4;
  margin-top: 50px;
  width: 101vw;
  text-align: center;
}
.foot-down{
  /* position: absolute; */
  margin-top:12vh;
}
@media (max-width:876px){
  .foot-down{
    margin-top: 0px;
  }
  ._row1{
    height: 10vw;
  }
}