.initiative-block {
  display: inline-block;
  position: relative;
  width: 20vw;
  margin: 2em 1em 2em 1em;
}
.initiative-title {
  font-size: 1.5em;
}

.initiative-image {
  width: 15vw;
  padding: 2vw;
  margin: 0 auto;
  display: block;
  align-items: center;
}
.initiative-image-inside {
  width: 10vw;
}
.ini-overlay {
  position: absolute;
  opacity: 0;
  background-color: #fba70e;
  width: inherit;
  height: 30em;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition-duration: 0.3s;
  border-radius: 5px;
}
@media (min-width: 450px) {
  .initiative-block:hover .ini-overlay {
    opacity: 1;
    transition-duration: 0.3s;
  }
}
.initiative-content {
  color: black;
  line-height: 1.6;
  /* position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
}
.initiative-heading {
  margin-top: 50px;
}
.initiative-wrapper {
  /* margin-bottom: 20em; */
}

/* 
.c-container {
  
    position: relative;
    width: 20vw;
  }
  
  .image {
    display: block;
    width: 20vw;
    height: 20vw;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20vw;
    width: 20vw;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
   */
@media (max-width: 400px) {
  .initiative-wrapper {
    margin-bottom: 0px;
  }
  .initiative-image {
    width: 25vw;
  }
}

.initiative-title-mob {
  display: none;
}
@media (max-width: 700px) {
  .initiative-block {
    width: 40vw;
  }
  .initiative-title-mob {
    display: inline;
  }
}
