/* Reset. */
/*@import url(href="//fonts.googleapis.com/css?family=Raleway");*/

* {
    box-sizing: border-box;
}
:root{

    --ht:100vw;
}

body {
    margin: 0;
    padding: 0;
    font-size: 80%;
    /*font-family: Arial, Helvetica, sans-serif;*/
    /* overflow-y: hidden; */
}
/* Panels. */
.splitview {
    position: relative;
    width: 100%;
    min-height: var(--ht);
    overflow: hidden;
}

.panel {
    position: absolute;
    width: 100vw;
    min-height: var(--ht);
    overflow: hidden;
}

    .panel .content {
        position: absolute;
        width: 100vw;
        min-height: var(--ht);
        color: #FFF;
    }

    .panel .description {
        width: 35%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: justify;
        font-family: Roboto;
        font-size: 1rem;
        line-height: 16px;
    }

    .panel img {
        /*box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.15);*/
        width: 15%;
        position: absolute;
        top: 30%;
        left: 25%;
        transform: translate(-50%, -50%);
    }
.panel img.img1 {
        /*box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.15);*/
        width: 15%;
        position: absolute;
        top: 75%;
        left: 75%;
        transform: translate(-50%, -50%);
    }

.bottom {
    background-color: rgb(44, 44, 44);
    z-index: 1;
}

    .bottom .description {
        right: 5%;
    }

.top {
    /*background-color: rgb(77, 69, 173);*/
    background-color: rgb(18,17,32);
    z-index: 2;
    width: 50vw;
}

    .top .description {
        left: 5%;
    }

/* Handle. */
.handle {
    height: 100%;
    position: absolute;
    display: block;
    background-color: rgb(253, 171, 0);
    width: 5px;
    top: 0;
    left: 50%;
    z-index: 3;
}

/* Skewed. */
.skewed .handle {
    top: 50%;
    transform: rotate(30deg) translateY(-50%);
    height: 200%;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    transform-origin: top;
}

.skewed .top {
    transform: skew(-30deg);
    margin-left: -1000px;
    width: calc(50vw + 1000px);
}

.skewed .top .content {
    transform: skew(30deg);
    margin-left: 1000px;
}

/* Responsive. */
@media(min-width:1000px){
        :root{
            --ht:100%;
        };
    }

@media (max-width: 900px) {
    body {
        font-size: 75%;
    }
}

@media (max-width: 600px){
    .description h1{
        font-size: 7vw;
    }
    .panel img.img1 {
        top:60%;
    }
    .panel img {
        top:40%;
    }
    
    div.description p:not(:first-child){
        display: none;
    }
    :root{
            --ht:100%;
        } 
}

/*---------------------------------------------------------------------------------------------------------------*/
.container-bread {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 100%;
  min-width: 480px;
  padding: 0 40px;
}

.breadcrumb {
  display: flex;
  border-radius: 6px;
  overflow: hidden;
  margin: auto;
  text-align: center;
  top: 50%;
  width: 100%;
  height: 57px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  box-shadow: 0 1px 1px black, 0 4px 14px rgba(0, 0, 0, 0.7);
  z-index: 1;
  background-color: #ddd;
  font-size: 14px;
  
}

.breadcrumb_rev{
  transform: rotate(180deg);
}
.breadcrumb a {
    transition-duration: 0s !important;
  -webkit-transition-duration:0s !important;
  position: relative;
  display: flex;
  flex-grow: 1;
  text-decoration: none;
  margin: auto;
  height: 100%;
  padding-left: 38px;
  padding-right: 0;
  color: #666;
}

.breadcrumb a:first-child {
  padding-left: 15.2px;
}

.breadcrumb a:last-child {
  padding-right: 15.2px;
}

.breadcrumb a:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 57px;
  height: 57px;
  top: 0;
  right: -28.1481481481px;
  background-color: #ddd;
  border-top-right-radius: 5px;
  -webkit-transform: scale(0.707) rotate(45deg);
          transform: scale(0.707) rotate(45deg);
  box-shadow: 1px -1px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.breadcrumb a:last-child:after {
  content: none;
}

.breadcrumb__inner {
  display: flex;
  flex-direction: column;
  margin: auto;
  z-index: 2;
}
.breadcrumb_rev .breadcrumb__inner {
  display: flex;
  flex-direction: column;
  margin: auto;
  z-index: 2;
  transform: rotate(180deg);
}

.breadcrumb__title {
  font-weight: bold;
    transition-duration: 0s !important;
  -webkit-transition-duration:0s !important;
}

.breadcrumb a.active, .breadcrumb a:hover {
  background: #4c256f;
  color: #ffd600;
}

.breadcrumb a.active:after, .breadcrumb a:hover:after {
  background: #4c256f;
  color: white;

}

@media all and (max-width: 1000px) {
  .breadcrumb {
    font-size: 12px;
  }
}
@media all and (max-width: 710px) {
  .breadcrumb__desc {
    display: none;
  }

  .breadcrumb {
    height: 38px;
  }

  .breadcrumb a {
    padding-left: 25.3333333333px;
  }

  .breadcrumb a:after {
    content: "";
    width: 38px;
    height: 38px;
    right: -19px;
    -webkit-transform: scale(0.707) rotate(45deg);
            transform: scale(0.707) rotate(45deg);

  }

}