
.myItems {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  user-select: none;
  /*margin: 1% 2vw;*/
}

.myItem {
  position: relative;
  margin: 1% 1.5vw;
  padding-bottom: 3px;
  background: rgb(240, 240, 240);
  color: #3d3c3c;
  text-decoration: none;
  -moz-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  height:63vh;
  width: 65vw; /* 2vw width for margin (see below) & 87 only available*/
}
  /*
  @media (min-width: 980px) {
    .myItem:nth-child(even) {
      margin-right: 20px;
    }
    .myItem:nth-child(3n) {
      margin-right: 0;
    }
  }*/


.myItem span {
  display: block;
}
.myItem .myItem-summary {
  padding: 2% 5% 2% 5%;
}
.myItem .myItem-header {
  position: relative;
  height: 175px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.15);
  background-blend-mode: overlay;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
}
.myItem .myItem-header:hover,
.myItem .myItem-header:focus {
  background-color: rgba(255, 255, 255, 0);
}
.myItem .myItem-title {
  background: #000;

  padding: 3.5% 0 2.5% 0;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.myItem .myItem-title h3 {
  font-size: 1.25em;
  line-height: 1.2;
  padding: 0 3.5%;
  margin: 0;
}
.myItem .myItem-meta {
  max-height: 0;
  overflow: hidden;
  color: #666;
  font-size: 0.78em;
  text-transform: uppercase;
  position: absolute;
  bottom: 5%;
  padding: 0 5%;
  -moz-transition-property: max-height;
  -o-transition-property: max-height;
  -webkit-transition-property: max-height;
  transition-property: max-height;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.myItem:hover,
.myItem:focus {
  background: white;
  -moz-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
}
.myItem:hover .myItem-title,
.myItem:focus .myItem-title {
  background: rgba(0, 0, 0, 0.7);
}
.myItem:hover .myItem-meta,
.myItem:focus .myItem-meta {
  max-height: 1em;
}


img {
  max-width: 100%;
}

body {
  background: #f0f0f0;
}

* {
  -moz-transition-property: background-color, border-color, box-shadow, color,
    opacity, text-shadow, -moz-transform;
  -o-transition-property: background-color, border-color, box-shadow, color,
    opacity, text-shadow, -o-transform;
  -webkit-transition-property: background-color, border-color, box-shadow, color,
    opacity, text-shadow, -webkit-transform;
  transition-property: background-color, border-color, box-shadow, color,
    opacity, text-shadow, transform;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

/*
.date {
  text-align: left;
  font-size: medium;
  color: rgba(200, 0, 0, 1);
  font-weight: bold;
}
.organiser {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}
.venue {
  text-align: center;
  font-size: 1.5em;
}
p {
  margin: 0.2rem;
}
*/

.e-date,
.e-time,
.e-venue,
.e-org,
.e-type {
  color: #666;
  padding: 5px 1%;
  font-size: 1.15em;
}

.e-more-info {
  margin: 5px 50%;
  display: inline-block;
  user-select: none;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #000;
}

.e-more-info:hover {
  border-radius: 50%;
  border: 2px solid #000;
  color: #fff;
  background-color: #000;
}

.material-icons {
  display: inline-flex;
  vertical-align: top;
  text-shadow: 2px -2px 3px rgba(0, 0, 0, 0.2);
  font-size: 1.13em;
}
