._row1{
  height: 45vh;
  margin-top: 55px;
}

._row1>._col1,._row1>._col2,._row1>._col3{
  height:42.5vh;
  width: 30vw;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  background-color: rgba(159, 216, 243, 0.4);
  float:  left;
  font-size: 4em;
}
@media(max-width:786px){
  ._row1>._col1,._row1>._col2,._row1>._col3{
    font-size: 3em;
  }
  ._row1{
    height: 35vh;
  }
}

._row1>._col1 ._title,._row1>._col2 ._title,._row1>._col3 ._title{
  bottom: 6px;
}

._row1>._col1{
  margin: 0 1.5vw 2.5vh 1vw;
}

._row1>._col2{
  margin: 0 1.5vw 2.5vh;
}

._row1>._col3{
  margin: 0 2vw 2.5vh 1.5vw;
}

._row2{
  position: relative;
  height: 40vh;
  margin: 0 2.5vw 2.5vh;
  background-color: rgba(0, 0,0, 0.2);
}

._row2>.col1_{
  width: 20vw;
  float:  left;
  height: 35vh;
}

._row2>.col1_>div{
  width: 100%;
  padding: 12px;
  user-select: none;
  cursor:  pointer;
}

._row2>.col1_>div:hover{
  background-color: #081e43;
  color: white;
}

._row2>.col1_>div.active_{
  background-color:#254985 ;
  color: white;
}





._row2>.col2_{
  width:  75vw;
  float:   left;
  height: 35vh;
  align-items: left;
  text-align: left;
}

._row2>.col2_>.col2_head_{
  text-align: center;
  padding: 0.75em 0;
  font-size: 2.5em;
  text-transform:  uppercase;
}


._row2>.col2_>.col21_{
  width: 40%;
  float:  left;
  padding: 12px;

}

._row2>.col2_>.col22_{
  width: 60%;
  float:  right;
  padding: 12px;

}

._row2>.col2_>.col21_>div{
  width: 100%;
  padding: 5px 3px;
  font-size: 1.25em;
}

._row2>.col2_>.col21_>.row211_{
  padding: 0.5em 0;
  font-size: 2em;
}

i.fa_{
  border-radius: 50%;
  background-color: white;
  color: #444;
  padding: 0.5em;
  margin-right: 9px;
 /* width: 2em;
  height: 2em;
 */
}





/* ._row2>.col2_>.col22_{
  width: 60%;
  float: left;
  padding: 12px;
} */

._row2>.col2_>.col23_>.row231_{
  padding: 0.5em 0;
  font-size: 2em;
}

._row2>.col2_>.col23_>.row232_{
  height: calc(100%-3em);
  overflow-y: scroll;
}

._row2>.col2_>.col22_>.row221_{
  padding: 0.5em 0;
  font-size: 2em;
}

._row2>.col2_>.col22_>.row222_{
  height: calc(100%-3em);
  overflow-y: scroll;
}

._row2>.col2_>.col22_>div{
  width: 100%;
  padding: 5px 3px;
  font-size: 1.25em;
}

._row2>.col2_>.col22_>div>a>i{
  margin-bottom: 0.5em;

}

._row2>.col2_>.col21_{
  width: 40%;
  float:  left;
}


._row2>.col2_>.col23_{
  width: 50%;
  float:  left;
}

._row2>.col2_>.col22_{
  width: 10%;
  float:  left;
}

._row3{
  position: relative;
  height: 10vh;
  /* margin: 0 2.5vw 2.5vh; */
  padding: 3vh;
  text-align: center;
  background-color: rgba(0, 0,0, 0.8);
}


._footer{
  position: relative;

}

._footer>div{
  display: inline-block;
}

