@import url(https://fonts.googleapis.com/css?family=Montserrat);
html,
body {
  overflow: hidden;
  min-height: 100%;
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 130vh;
  position: fixed;
  width: 100%;
  -webkit-transform: translateY(30vh);
  transform: translateY(30vh);
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}
.background:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.background:first-child {
  background-image: url(./img/0.jfif);
  -webkit-transform: translateY(-15vh);
  transform: translateY(-15vh);
}
.background:first-child .content-wrapper {
  -webkit-transform: translateY(15vh);
  transform: translateY(15vh);
}
.background:nth-child(2) {
  background-image: url(./img/about_us.jpg);
}
.background:nth-child(3) {
  background-image: url(./img/events.jpg);
}
.background:nth-child(4) {
  background-image: url(./img/img2.jpg);
}
/*.background:nth-child(5) {
  background-image: url(./img/bg3.jpg);
}*/
.background:nth-child(5) {
  background-image: url(./img/resources.jpg);
}
.background:nth-child(6) {
  background-image: url(./img/sta1.jpeg);
}
.background:nth-child(7) {
  background-image: url(./img/team.jpg);
}
.background:nth-child(8) {
  background-image: url(./img/white.jpg);
  background-color: white !important;
}
.background:nth-child(8):before {
  background-color: white !important;
}
.background:nth-child(9) {
  background-image: url(./img/contact_us.jpg);
}

/* Set stacking context of slides */
.background:nth-child(1) {
  z-index: 9;
}

.background:nth-child(2) {
  z-index: 8;
}

.background:nth-child(3) {
  z-index: 7;
}
.background:nth-child(4) {
  z-index: 6;
}
.background:nth-child(5) {
  z-index: 5;
}
.background:nth-child(6) {
  z-index: 4;
}
.background:nth-child(7) {
  z-index: 3;
}
.background:nth-child(8) {
  z-index: 2;
}
.background:nth-child(9) {
  z-index: 1;
}

.content-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: column nowrap;
  color: #fff;
  font-family: Montserrat;
  text-transform: uppercase;
  -webkit-transform: translateY(40vh);
  transform: translateY(40vh);
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
}
.content-title {
  font-size: 4em;
  color: white;
  line-height: 1.4;
}
.content-title a {
  color: white;
}

.background.up-scroll {
  -webkit-transform: translate3d(0, -15vh, 0);
  transform: translate3d(0, -15vh, 0);
}
.background.up-scroll .content-wrapper {
  -webkit-transform: translateY(15vh);
  transform: translateY(15vh);
}
.background.up-scroll + .background {
  -webkit-transform: translate3d(0, 30vh, 0);
  transform: translate3d(0, 30vh, 0);
}
.background.up-scroll + .background .content-wrapper {
  -webkit-transform: translateY(30vh);
  transform: translateY(30vh);
}

.background.down-scroll {
  -webkit-transform: translate3d(0, -131.5vh, 0);
  transform: translate3d(0, -131.5vh, 0);
}
.background.down-scroll .content-wrapper {
  -webkit-transform: translateY(40vh);
  transform: translateY(40vh);
}
.background.down-scroll + .background:not(.down-scroll) {
  -webkit-transform: translate3d(0, -15vh, 0);
  transform: translate3d(0, -15vh, 0);
}
.background.down-scroll + .background:not(.down-scroll) .content-wrapper {
  -webkit-transform: translateY(15vh);
  transform: translateY(15vh);
}

header {
  font-family: "Open Sans Condensed";
  position: fixed;
  display: block;
  width: 100vw;
  top: 0;
  background-color: #00000061;
  z-index: 100;
}

header .profile {
  display: flex;
  align-items: center;
  padding: 9px;
  text-transform: uppercase;
  user-select: none;
}

header .profile .header-logo {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  margin-right: 0.5em;
  margin-left: 0.2em;
}

header .profile .header-title {
  margin-left: 6px;
  font-size: 1.5em;
  color: #fff;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
}

header .profile:hover .header-logo {
  opacity: 0.75;
  cursor: pointer;
}
.header-logo:hover {
  transform: scale(1.2);
}
header .profile:hover .header-title {
  color: #f1f1f1;
  cursor: pointer;
}

ul.nav {
  position: absolute;
  right: 1%;
  top: 25%;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

ul.nav > li {
  float: left;
  cursor: pointer;
}
.yellow {
  color: #ffe000 !important;
}
ul.nav li a {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 1.1em;
  padding: 3px 10px;
  cursor: pointer;
  color: #fff;
}

ul.nav li a:hover {
  color: #ffe000;
}

ul.nav li a.selected {
  color: #dadada;
}

ul.nav li a .nav-item {
  display: none;
}

ul.nav li a:hover .nav-item {
  display: inline-block;
}

#toggle {
  position: relative;
  display: none;
  padding: 1.5em 15px;
  float: right;
  cursor: pointer;
  user-select: none;
  padding-bottom: 0;
}

@media screen and (max-width: 980px) {
  #toggle {
    display: inline-block;
    float: right;
  }

  ul.nav {
    position: relative;
    display: block;
    display: none;
    left: 0;
    /*height: 100vh;*/
    vertical-align: middle;
    /* background: rgba(0,0,0,0.5);*/
  }

  ul.nav li {
    float: none;
  }

  ul.nav li a {
    padding: 3px 15px;
    display: block;
  }

  ul.nav li a .nav-item {
    display: inline-block;
  }
}

@media screen and (max-width: 800px) {
  .header-title {
    display: none;
  }
}

div.tab {
  display: block;
  background-color: #dadada;
  font-family: "Open Sans Condensed";
}

div.tab > div.tab-item {
  float: left;
  padding: 9px 15px;
}

div.tab > div.tab-item:hover,
div.tab > .selected {
  background-color: #fff;
}

div.tab > div.tab-item a {
  text-transform: uppercase;
  text-decoration: none;
}

div.tab::after {
  content: "";
  display: block;
  clear: both;
}

.title {
  font-family: "Open Sans Condensed";
  font-size: 2em;
  text-transform: uppercase;
}

.left {
  width: 25%;
  float: left;
  background-image: linear-gradient(to top, #aaaaaa, #ffffff);
  padding: 2%;
  text-align: center;
}

.right {
  width: 75%;
  float: left;
  padding: 6px;
}

@media screen and (max-width: 750px) {
  .left,
  .right {
    width: 100%;
  }
}

a {
  color: #000000;
}

a.btn {
  display: block;
  padding: 6px 6px;
  background-color: #f1f1f1;
  border: 1px solid #000;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75em;
}

a.btn {
  min-width: 40%;
}

.left > a {
  width: 100%;
}

a.btn:hover {
  background-color: #000;
  color: #fff;
}

@media screen and (max-width: 500px) {
  .copy-title {
    display: none;
  }
}

/*-----------------navigation bar --------------------*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 20px;
  box-sizing: border-box;
  transition: 0.5s;
  z-index: 100;
  opacity: 1;
}
nav.black {
  background: rgba(0, 0, 0, 0.8);
  height: 80px;
  padding: 10px 35px;
}
nav .logo {
  float: left;
}
nav .logo img {
  height: 80px;
  transition: 0.5s;
}
nav.black .logo img {
  height: 60px;
}
nav ul {
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li {
  list-style: none;
  margin-top: 25px;
  line-height: none;
  font-size: 18px;
  color: white;
  padding: 5px 15px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 1s;
  text-shadow: 0 0 10px #000;
}

nav.black ul li {
  color: #fff;
  line-height: 20px;
}
/* nav ul li a.active,
nav ul li a:hover{
  color: orange;
} */
nav ul li.active,
nav ul li:hover {
  color: orange;
}
@media (max-width: 900px) {
  nav ul li {
    font-size: 12px;
  }
  .heading {
    font-size: 250%;
  }
}
@media (max-width: 600px) {
  .heading {
    font-size: 250%;
  }
  .heading-sm {
    font-size: 180%;
  }
  .two-col {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  nav ul li {
    font-size: 8px;
  }
}
/*--------------------------------------------------*/

/*SLIDESHOW*/
/* Slideshow container */
.slideshow-container {
  position: relative;
  background: transparent;
}

/* Slides */
.mySlides {
  display: none;
  text-align: center;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #120a92;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 3;
}

.prev {
  left: 1vw;
}

/* Position the "next button" to the right */
.next {
  right: 1vw;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: transparent;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active,
.dot:hover {
  background-color: #717171;
}
