/* Reset. */
/*@import url(href="//fonts.googleapis.com/css?family=Raleway");*/

* {
    box-sizing: border-box;
}
:root{

    --ht:100vw;
}

body {
    margin: 0;
    padding: 0;
    font-size: 80%;
    /*font-family: Arial, Helvetica, sans-serif;*/
    overflow-y: hidden;
}
/* Panels. */
.splitview {
    position: relative;
    width: 100%;
    min-height: var(--ht);
    overflow: hidden;
}

.panel {
    position: absolute;
    width: 100vw;
    min-height: var(--ht);
    overflow: hidden;
}

    .panel .content {
        position: absolute;
        width: 100vw;
        min-height: var(--ht);
        color: #FFF;
    }

    .panel .description {
        width: 35%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: justify;
        font-family: Roboto;
        font-size: 1rem;
        line-height: 16px;
    }

    .panel img {
        /*box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.15);*/
        width: 15%;
        position: absolute;
        top: 30%;
        left: 25%;
        transform: translate(-50%, -50%);
    }
.panel img.img1 {
        /*box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.15);*/
        width: 15%;
        position: absolute;
        top: 75%;
        left: 75%;
        transform: translate(-50%, -50%);
    }

.bottom {
    background-color: rgb(44, 44, 44);
    z-index: 1;
}

    .bottom .description {
        right: 5%;
    }

.top {
    /*background-color: rgb(77, 69, 173);*/
    background-color: rgb(18,17,32);
    z-index: 2;
    width: 50vw;
}

    .top .description {
        left: 5%;
    }

/* Handle. */
.handle {
    height: 100%;
    position: absolute;
    display: block;
    background-color: rgb(253, 171, 0);
    width: 5px;
    top: 0;
    left: 50%;
    z-index: 3;
}

/* Skewed. */
.skewed .handle {
    top: 50%;
    transform: rotate(30deg) translateY(-50%);
    height: 200%;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    transform-origin: top;
}

.skewed .top {
    transform: skew(-30deg);
    margin-left: -1000px;
    width: calc(50vw + 1000px);
}

.skewed .top .content {
    transform: skew(30deg);
    margin-left: 1000px;
}

/* Responsive. */
@media(min-width:1000px){
        :root{
            --ht:100%;
        };
    }

@media (max-width: 900px) {
    body {
        font-size: 75%;
    }
}

@media (max-width: 600px){
    .description h1{
        font-size: 7vw;
    }
    .panel img.img1 {
        top:60%;
    }
    .panel img {
        top:40%;
    }
    
    div.description p:not(:first-child){
        display: none;
    }
    :root{
            --ht:100%;
        } 
}
