*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  background-color: #f0f0f0;
}
body {
  color: #999999;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 0rem; /*changed this*/ 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.fleximg{
  -webkit-filter: contrast(70%);
  filter: contrast(70%);
  transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91), -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}
.fleximg:hover{
  -webkit-filter: contrast(100%);
  filter: contrast(100%);
}

.btn {
  background-color: white;
  border: 1px solid #cccccc;
  color: #696969;
  padding: 0.5rem;
  text-transform: lowercase;
}
.btn--block {
  display: block;
  width: 100%;
}
.cards {
  display: flex;
  /*flex-wrap: wrap;*/
  list-style: none;
  margin: 0;
  padding: 0;
  color: #999999;

}
@media(max-width:40rem ){
.hide_s{display: none;}
.fleximg{
  -webkit-filter: contrast(100%);
  filter: contrast(100%);
}
}
@media(max-width:400px ){
  .cards{
    /*flex-wrap: wrap;*/
    max-height: 25vh;
  }

  .flexi{
    /*max-width: 80%;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.cards__item {
  display: flex;
  padding: .6rem;
  width:100%;
}
@media (min-width: 40rem) {
  .cards__item {
    width: 40%;
  }
}
@media (min-width: 56rem) {
  .cards__item {
    width: 33.3333%;
  }

}
.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /*max-height: 300px;*/
  max-width: 300px;
}

.card:hover .card__image {
  -webkit-filter: contrast(100%);
          filter: contrast(100%);
}
.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: .5rem;
}
.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  -webkit-filter: contrast(70%);
          filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91), -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}
.card__image::before {
  content: "";
  display: block;
  padding-top: 76.25%;
}

@media (min-width: 40rem) {
  .card__image::before {
    padding-top: 66.6%;
  }
  .hide_l{display: none;}
}
.card__image--flowers {
  background-image:url(img/flex1.jpg); 
}
.card__image--river {
  background-image: url(img/img3.jpg);
}
.card__image--record {
  background-image: url(img/flex2.jpg);
}
.card__image--fence {
  background-image: url(img/flex1.jpg);
}
.card__title {
  color: #696969;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}
.container{
 max-width: 100%;
  margin: auto;
 margin-bottom: 0px;
 margin-top: 10px;
}

