*{
    box-sizing: border-box;
}

body {
    letter-spacing: 0.01em;
    font-family: 'Open Sans';
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/

}

.title{
    font-family: "Open Sans Condensed";
    font-size: 2em;
    text-transform: uppercase;;
}

a.btn{
    display: inline-block;
    padding: 6px 6px;
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.75em;
}

a.btn:hover{
    background-color: #f1f1f1;
    color:#000; 
}

.refresh{
    display: block;
    position: fixed; right: 1ch; z-index: 1;

}

.add{
    margin: 8px auto;
}



table{
    overflow-y: scroll;
    min-width: 100%;
    border-collapse: collapse;
    border: 1px solid #000;
    cursor: default;
}

tr{
    vertical-align: middle;
}

td,th{
    padding: 3px;
    white-space: nowrap;
}

thead>tr th{
    background-color: #000;
    color: #fff;
    vertical-align: middle;
    text-align: left;

}

tbody{
    overflow-y: scroll;
}



tr{
    border-bottom: 1px solid #000;
}

td.sticky{
    background-color: #fff;
}


tr:hover,tr:hover td.sticky{
    background-color: #dadada;
}



/*

table {
    border: none;
}

table tr {
    border-bottom: 1px solid #cbcbcb;
}

table td {
    padding: 0.5em .5em;
    border-width: 0 0 1px 0;
    border-bottom: 1px solid #cbcbcb;
    border-left: 1px solid #cbcbcb;
    display: table-cell;


}

table th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
    color: black;
    padding: 0.5em 1em;

}
*/


 #login-submit {
    overflow: visible;
    vertical-align: middle;
    border-radius: 4px;
    padding: 5px 16px;
    font-size: 1em;
}
}

button {
    background: rgb(223, 117, 20);
    color: white;
    border-radius: 4px;
    padding: .5em 1em;
    border: none;
    text-decoration: none;
    text-align: center;
    vertical-align: center;
    -webkit-user-drag: none;
}

.login {
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown~.form__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }
}








div.tab{
    display: block;
    background-color: #dadada;
    font-family: "Open Sans Condensed";
    position: sticky;
    position: -webkit-sticky;
    z-index: 2000;
    top: 8px;

}

div.tab>div.tab-item{
    float: left;
    padding: 9px 15px;
    cursor:  pointer;
    user-select:  none;

}

div.tab>div.tab-item:hover,div.tab>.selected{
    background-color: #fff;
}

div.tab>div.tab-item a{
    text-transform: uppercase;
    text-decoration: none;
}


div.tab::after{
    content: "";
    display: block;
    clear: both;
}



/*New Popup*/

.login{
    display: block;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: #dadada; 
}

.login-content {
  background-color: #f1f1f1;
  margin: 10vh auto 7vw auto;
  border: 1px solid #888;
  width: 65vw; 
  padding: 5vh 2.5vw;
  text-align: center;
  box-shadow: 4px 4px 6px #aaa;
}


@media screen and (max-width: 900px){
    .login-content {
        margin: 5vh auto 3vw auto;
        width: 90vw;
    }
}

form .box{
    border: 1px solid #000;
}

form .box>.h{
    background-color: #000000;
    color: White;
    text-transform: uppercase;
    font-size: 1.25em;
    padding: 10px;
}

form .box>:not(.h){
    padding: 2vh;
}


.icon {
  display: inline-block;
  padding: 10px;
  background: #000;
  color: white;
  width: 50px;
  text-align: center;
  vertical-align: middle;
}

.fa{
    display: inline-flex;
    vertical-align: top;
    text-shadow: 0 3px 2px rgba(0,0,0,0.2);
    font-size: 1em;
}



.popup{
    display: none;
    position: fixed;
    z-index: 2008;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.5);
}

.popup-content {
  background-color: #f1f1f1;
  margin: 10vh auto 7vw auto;
  border: 1px solid #888;
  width: 65vw; 
  padding: 5vh 2.5vw;
  text-align: center;

}

@media screen and (max-width: 900px){
    .popup-content {
        margin: 5vh auto 3vw auto;
        width: 90vw;
    }
}

.box{
    border: 1px solid #000;
}

.box>.h{
    background-color: #000000;
    color: White;
    text-transform: uppercase;
    font-size: 1.25em;
    padding: 10px;
    font-family: "Open Sans Condensed";
}

.box>:not(.h){
    padding: 2vh;
}



.close{
    color: #fff;
    cursor: pointer;
}

.close:hover, .close:focus {
  color: ##dadada;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}






input, textarea, select {
    width: 80%; 
    padding: 4.7px 6px 7.5px;
    outline: none;
    font-size: 0.95em;
    background-color: #F1F1F1;
}

textarea{
    resize: none;
}

select{
    -moz-appearance: none; 
    -webkit-appearance: none; 
    appearance: none;
    border-radius: 0;
    width: 80%; 
    margin-top: 3px;
    padding: 8px 6px 9px;
    outline: none;
    font-size: 0.95em;
    background-color: #F1F1F1;
}

input:hover, textarea:hover,select:hover,option:hover {
    outline: 1px solid #000;
}

input:focus, textarea:focus,select:focus {
    outline: 1px solid #000;
    background-color: #000;
    color: #fff;
}


input[type=submit] {
    -moz-appearance: none; 
    -webkit-appearance: none; 
    appearance: none;
    min-width: 40%;
    padding: 12px 12px;
    background-color: DodgerBlue;
    border: 1px solid DodgerBlue;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

input[type=submit]:hover{
    background-color: #fff;
    color: #000;
}
