.hid {
    display: none;
}

body, .site-title {
    font-size: 16px;
}

a {
    color: #0366d6;
}

.nv-loader {
    border-color: #0366d6;
}

a:hover, a:focus {
    color: #005bf7;
}

.has-white-background-color {
    background-color: #ffffff !important;
}

.has-white-color {
    color: #ffffff !important;
}

.has-black-background-color {
    background-color: #000000 !important;
}

.has-black-color {
    color: #000000 !important;
}

.has-neve-button-color-background-color {
    background-color: #0366d6 !important;
}

.has-neve-button-color-color {
    color: #0366d6 !important;
}

.has-neve-link-color-background-color {
    background-color: #0366d6 !important;
}

.has-neve-link-color-color {
    color: #0366d6 !important;
}

.has-neve-link-hover-color-background-color {
    background-color: #005bf7 !important;
}

.has-neve-link-hover-color-color {
    color: #005bf7 !important;
}

.has-neve-text-color-background-color {
    background-color: #404248 !important;
}

.has-neve-text-color-color {
    color: #404248 !important;
}

.nv-tags-list a {
    color: #0366d6;
}

.nv-tags-list a {
    border-color: #0366d6;
}

.button.button-primary, button, input[type=button], .btn, input[type="submit"],
/* Buttons in navigation */

ul[id^="nv-primary-navigation"] li.button.button-primary>a, .menu li.button.button-primary>a {
    background-color: #0366d6;
}

.button.button-primary, button, input[type=button], .btn, input[type="submit"],
/* Buttons in navigation */

ul[id^="nv-primary-navigation"] li.button.button-primary>a, .menu li.button.button-primary>a {
    color: #ffffff;
}

.nv-tags-list a:hover {
    border-color: #0366d6;
}

.button.button-primary:hover, .nv-tags-list a:hover, ul[id^="nv-primary-navigation"] li.button.button-primary>a:hover, .menu li.button.button-primary>a:hover {
    background-color: #0366d6;
}

.button.button-primary:hover, .nv-tags-list a:hover, ul[id^="nv-primary-navigation"] li.button.button-primary>a:hover, .menu li.button.button-primary>a:hover {
    color: #ffffff;
}

.button.button-primary, button, input[type=button], .btn, input[type="submit"]:not(.search-submit),
/* Buttons in navigation */

ul[id^="nv-primary-navigation"] li.button.button-primary>a, .menu li.button.button-primary>a {
    border-radius: 3px;
}

.button.button-secondary, #comments input[type="submit"] {
    color: #676767;
}

.button.button-secondary, #comments input[type="submit"] {
    border-color: #676767;
}

.button.button-secondary:hover, #comments input[type="submit"]:hover {
    color: #676767;
}

.button.button-secondary:hover, #comments input[type="submit"]:hover {
    border-color: #676767;
}

.button.button-secondary, #comments input[type="submit"] {
    border-radius: 3px;
}

.button.button-secondary, #comments input[type="submit"] {
    border: 1px solid;
    border-width: 1px;
}

@media(min-width: 576px) {
    body, .site-title {
        font-size: 16px;
    }
}

@media(min-width: 960px) {
    body, .site-title {
        font-size: 15px;
    }
    .neve-main>.archive-container .nv-index-posts.col {
        max-width: 75%;
    }
    .neve-main>.archive-container .nv-sidebar-wrap {
        max-width: 25%;
    }
    .caret-wrap {
        border-color: transparent;
    }
}

.hfg_header .header-top-inner, .hfg_header .header-top-inner.dark-mode, .hfg_header .header-top-inner.light-mode {}

.hfg_header .header-main-inner, .hfg_header .header-main-inner.dark-mode, .hfg_header .header-main-inner.light-mode {
    background-color: #0a1d2b;
}

.hfg_header .header-bottom-inner, .hfg_header .header-bottom-inner.dark-mode, .hfg_header .header-bottom-inner.light-mode {}

.hfg_header .header-menu-sidebar .header-menu-sidebar-bg, .hfg_header .header-menu-sidebar .header-menu-sidebar-bg.dark-mode, .hfg_header .header-menu-sidebar .header-menu-sidebar-bg.light-mode {}

@media (max-width: 576px) {
    .builder-item--logo .site-logo img {
        max-width: 120px;
    }
    .builder-item--logo .site-logo {
        padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
    }
    .builder-item--logo {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .builder-item--nav-icon .navbar-toggle {
        padding-top: 10px;
        padding-right: 15px;
        padding-bottom: 10px;
        padding-left: 15px;
    }
    .builder-item--nav-icon {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .builder-item--primary-menu li>a {
        font-size: 1em;
        line-height: 1.6;
        letter-spacing: 0px;
    }
    .builder-item--primary-menu li>a svg {
        height: 1em;
        width: 1em;
    }
    .builder-item--primary-menu {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .builder-item--button_base>.component-wrap>.button.button-primary:first-child {
        padding-top: 8px;
        padding-right: 12px;
        padding-bottom: 8px;
        padding-left: 12px;
    }
    .builder-item--button_base {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .builder-item--custom_html {
        font-size: 1em;
        line-height: 1.6;
        letter-spacing: 0px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .builder-item--custom_html svg {
        height: 1em;
        width: 1em;
    }
    .builder-item--header_search {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .builder-item--header_search_responsive {
        padding-top: 0px;
        padding-right: 10px;
        padding-bottom: 0px;
        padding-left: 10px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .builder-item--secondary-menu #secondary-menu li>a {
        font-size: 1em;
        line-height: 1.6;
        letter-spacing: 0px;
    }
    .builder-item--secondary-menu #secondary-menu li>a svg {
        height: 1em;
        width: 1em;
    }
    .builder-item--secondary-menu {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .builder-item--footer-one-widgets {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .builder-item--footer-two-widgets {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .builder-item--footer-three-widgets {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .builder-item--footer-four-widgets {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .builder-item--footer-menu li>a {
        font-size: 1em;
        line-height: 1.6;
        letter-spacing: 0px;
    }
    .builder-item--footer-menu li>a svg {
        height: 1em;
        width: 1em;
    }
    .builder-item--footer-menu {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .builder-item--footer_copyright {
        font-size: 1em;
        line-height: 1.6;
        letter-spacing: 0px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .builder-item--footer_copyright svg {
        height: 1em;
        width: 1em;
    }
}

@media (min-width: 576px) {
    .builder-item--logo .site-logo img {
        max-width: 120px;
    }
    .builder-item--logo .site-logo {
        padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
    }
    .builder-item--logo {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .builder-item--nav-icon .navbar-toggle {
        padding-top: 10px;
        padding-right: 15px;
        padding-bottom: 10px;
        padding-left: 15px;
    }
    .builder-item--nav-icon {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .builder-item--primary-menu li>a {
        font-size: 1em;
        line-height: 1.6;
        letter-spacing: 0px;
    }
    .builder-item--primary-menu li>a svg {
        height: 1em;
        width: 1em;
    }
    .builder-item--primary-menu {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .builder-item--button_base>.component-wrap>.button.button-primary:first-child {
        padding-top: 8px;
        padding-right: 12px;
        padding-bottom: 8px;
        padding-left: 12px;
    }
    .builder-item--button_base {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .builder-item--custom_html {
        font-size: 18.7em;
        line-height: 1.6;
        letter-spacing: 0px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .builder-item--custom_html svg {
        height: 18.7em;
        width: 18.7em;
    }
    .builder-item--header_search {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .builder-item--header_search_responsive {
        padding-top: 0px;
        padding-right: 10px;
        padding-bottom: 0px;
        padding-left: 10px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .builder-item--secondary-menu #secondary-menu li>a {
        font-size: 1em;
        line-height: 1.6;
        letter-spacing: 0px;
    }
    .builder-item--secondary-menu #secondary-menu li>a svg {
        height: 1em;
        width: 1em;
    }
    .builder-item--secondary-menu {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .builder-item--footer-one-widgets {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .builder-item--footer-two-widgets {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .builder-item--footer-three-widgets {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .builder-item--footer-four-widgets {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .builder-item--footer-menu li>a {
        font-size: 1em;
        line-height: 1.6;
        letter-spacing: 0px;
    }
    .builder-item--footer-menu li>a svg {
        height: 1em;
        width: 1em;
    }
    .builder-item--footer-menu {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .builder-item--footer_copyright {
        font-size: 1em;
        line-height: 1.6;
        letter-spacing: 0px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .builder-item--footer_copyright svg {
        height: 1em;
        width: 1em;
    }
}

@media (min-width: 961px) {
    .builder-item--logo .site-logo img {
        max-width: 219px;
    }
    .builder-item--logo .site-logo {
        padding-top: 6px;
        padding-right: 0px;
        padding-bottom: 9px;
        padding-left: 0px;
    }
    .builder-item--logo {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .builder-item--nav-icon .navbar-toggle {
        padding-top: 10px;
        padding-right: 15px;
        padding-bottom: 10px;
        padding-left: 15px;
    }
    .builder-item--nav-icon {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .builder-item--primary-menu li>a {
        font-size: 1em;
        line-height: 1.6;
        letter-spacing: 0px;
    }
    .builder-item--primary-menu li>a svg {
        height: 1em;
        width: 1em;
    }
    .builder-item--primary-menu {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .builder-item--button_base>.component-wrap>.button.button-primary:first-child {
        padding-top: 8px;
        padding-right: 12px;
        padding-bottom: 8px;
        padding-left: 12px;
    }
    .builder-item--button_base {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .builder-item--custom_html {
        font-size: 10em;
        line-height: 1.6;
        letter-spacing: 0px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .builder-item--custom_html svg {
        height: 10em;
        width: 10em;
    }
    .builder-item--header_search {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .builder-item--header_search_responsive {
        padding-top: 0px;
        padding-right: 10px;
        padding-bottom: 0px;
        padding-left: 10px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .builder-item--secondary-menu #secondary-menu li>a {
        font-size: 1em;
        line-height: 1.6;
        letter-spacing: 0px;
    }
    .builder-item--secondary-menu #secondary-menu li>a svg {
        height: 1em;
        width: 1em;
    }
    .builder-item--secondary-menu {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .builder-item--footer-one-widgets {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .builder-item--footer-two-widgets {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .builder-item--footer-three-widgets {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .builder-item--footer-four-widgets {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .builder-item--footer-menu li>a {
        font-size: 1em;
        line-height: 1.6;
        letter-spacing: 0px;
    }
    .builder-item--footer-menu li>a svg {
        height: 1em;
        width: 1em;
    }
    .builder-item--footer-menu {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .builder-item--footer_copyright {
        font-size: 1em;
        line-height: 1.6;
        letter-spacing: 0px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .builder-item--footer_copyright svg {
        height: 1em;
        width: 1em;
    }
}

.builder-item--nav-icon .navbar-toggle {
    border-radius: 3px;
    border: 1px solid;
}

.builder-item--primary-menu .nav-menu-primary>.primary-menu-ul li:not(.woocommerce-mini-cart-item)>a, .builder-item--primary-menu .nav-menu-primary>.primary-menu-ul li>a .caret-wrap .caret {
    color: #ffffff;
}

.builder-item--primary-menu .nav-menu-primary>.primary-menu-ul li:not(.woocommerce-mini-cart-item)>a:after {
    background-color: #dbb539;
}

.builder-item--primary-menu .nav-menu-primary>.primary-menu-ul li:not(.woocommerce-mini-cart-item):hover>a, .builder-item--primary-menu .nav-menu-primary>.primary-menu-ul li:hover>a>.caret-wrap .caret {
    color: #dbb539;
}

.builder-item--primary-menu .nav-menu-primary>.primary-menu-ul li.current-menu-item a, .builder-item--primary-menu .nav-menu-primary>.primary-menu-ul li.current-menu-item a .caret-wrap .caret {
    color: #dd9933;
}

.builder-item--primary-menu li>a {
    font-weight: 500;
    text-transform: none;
}

.builder-item--button_base>.component-wrap>.button.button-primary:first-child {
    border-radius: 3px;
}

.builder-item--custom_html {
    font-weight: 300;
    text-transform: none;
}

.footer-top-inner, .footer-top-inner.dark-mode, .footer-top-inner.light-mode {}

.footer-bottom-inner, .footer-bottom-inner.dark-mode, .footer-bottom-inner.light-mode {}

.builder-item--footer-menu li>a {
    font-weight: 500;
    text-transform: none;
}

.fa {
    font-size: 30px;
}

/* ---------------------------------------- */

.shine {
    text-align: center;
    background: -webkit-gradient(linear, left top, right top, color-stop(20%, #FFF), color-stop(40%, #FF0), color-stop(60%, #FF0), color-stop(80%, #FFF));
    background: linear-gradient(to right, rgb(249, 253, 29) 20%, rgb(184, 255, 18) 40%, rgb(249, 253, 29) 60%, #FFF 80%);
    background-size: 200% auto;
    color: #000;
    text-transform: ;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: shine 1s linear infinite;
    animation: shine 1s linear infinite;
    font-weight: 800 !important;
    border: #005bf7;
    font-size:4vw !important;
}



@-webkit-keyframes shine {
    to {
        background-position: 200% center;
    }
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}

@keyframes one {
    0% {
        transform: scale(1) translateY(0);
    }
    10% {
        transform: scale(1.2, 0.6);
    }
    30% {
        transform: scale(0.8, 1.1) translateY(-30px);
    }
    50% {
        transform: scale(1) translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

.one, .two {
    max-width: 60% !important;
}

.one {
    /* animation: one 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite; */
    max-width: 60% !important;
}

@media(max-width:500px) {
    .shine{
        font-size: 7vw ;
    }
    .one {
        max-width: 30% !important;
    }
    .two {
        max-width: 62% !important;
    }
}

.shake-rotate {
    /* display: inherit; */
    transform-origin: center center;
}

.shake-freeze, .shake-constant.shake-constant--hover:hover, .shake-trigger:hover .shake-constant.shake-constant--hover {
    animation-play-state: paused;
}

.shake-freeze:hover, .shake-trigger:hover .shake-freeze, .shake-rotate:hover, .shake-trigger:hover .shake-rotate {
    animation-play-state: running;
}

@keyframes shake-rotate {
    2% {
        transform: translate(0, 0) rotate(-6.5deg)
    }
    4% {
        transform: translate(0, 0) rotate(-4.5deg)
    }
    6% {
        transform: translate(0, 0) rotate(-2.5deg)
    }
    8% {
        transform: translate(0, 0) rotate(.5deg)
    }
    10% {
        transform: translate(0, 0) rotate(2.5deg)
    }
    12% {
        transform: translate(0, 0) rotate(4.5deg)
    }
    14% {
        transform: translate(0, 0) rotate(5.5deg)
    }
    16% {
        transform: translate(0, 0) rotate(1.5deg)
    }
    18% {
        transform: translate(0, 0) rotate(3.5deg)
    }
    20% {
        transform: translate(0, 0) rotate(-1.5deg)
    }
    22% {
        transform: translate(0, 0) rotate(-4.5deg)
    }
    24% {
        transform: translate(0, 0) rotate(4.5deg)
    }
    26% {
        transform: translate(0, 0) rotate(6.5deg)
    }
    28% {
        transform: translate(0, 0) rotate(4.5deg)
    }
    30% {
        transform: translate(0, 0) rotate(3.5deg)
    }
    32% {
        transform: translate(0, 0) rotate(6.5deg)
    }
    34% {
        transform: translate(0, 0) rotate(5.5deg)
    }
    36% {
        transform: translate(0, 0) rotate(3.5deg)
    }
    38% {
        transform: translate(0, 0) rotate(-4.5deg)
    }
    40% {
        transform: translate(0, 0) rotate(-6.5deg)
    }
    42% {
        transform: translate(0, 0) rotate(-5.5deg)
    }
    44% {
        transform: translate(0, 0) rotate(.5deg)
    }
    46% {
        transform: translate(0, 0) rotate(5.5deg)
    }
    48% {
        transform: translate(0, 0) rotate(4.5deg)
    }
    50% {
        transform: translate(0, 0) rotate(-3.5deg)
    }
    52% {
        transform: translate(0, 0) rotate(-3.5deg)
    }
    54% {
        transform: translate(0, 0) rotate(-.5deg)
    }
    56% {
        transform: translate(0, 0) rotate(5.5deg)
    }
    58% {
        transform: translate(0, 0) rotate(2.5deg)
    }
    60% {
        transform: translate(0, 0) rotate(2.5deg)
    }
    62% {
        transform: translate(0, 0) rotate(-2.5deg)
    }
    64% {
        transform: translate(0, 0) rotate(1.5deg)
    }
    66% {
        transform: translate(0, 0) rotate(6.5deg)
    }
    68% {
        transform: translate(0, 0) rotate(6.5deg)
    }
    70% {
        transform: translate(0, 0) rotate(6.5deg)
    }
    72% {
        transform: translate(0, 0) rotate(3.5deg)
    }
    74% {
        transform: translate(0, 0) rotate(-5.5deg)
    }
    76% {
        transform: translate(0, 0) rotate(-5.5deg)
    }
    78% {
        transform: translate(0, 0) rotate(2.5deg)
    }
    80% {
        transform: translate(0, 0) rotate(-1.5deg)
    }
    82% {
        transform: translate(0, 0) rotate(.5deg)
    }
    84% {
        transform: translate(0, 0) rotate(2.5deg)
    }
    86% {
        transform: translate(0, 0) rotate(-3.5deg)
    }
    88% {
        transform: translate(0, 0) rotate(7.5deg)
    }
    90% {
        transform: translate(0, 0) rotate(-5.5deg)
    }
    92% {
        transform: translate(0, 0) rotate(7.5deg)
    }
    94% {
        transform: translate(0, 0) rotate(-4.5deg)
    }
    96% {
        transform: translate(0, 0) rotate(7.5deg)
    }
    98% {
        transform: translate(0, 0) rotate(6.5deg)
    }
    0%, 100% {
        transform: translate(0, 0) rotate(0)
    }
}

.shake-rotate:hover, .shake-trigger:hover .shake-rotate, .shake-rotate.shake-freeze, .shake-rotate.shake-constant {
    animation-name: shake-rotate;
    animation-duration: 100ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 5;
}